 /*-----------
- HTML Tags -
-----------*/
html { 
    background: url(../img/bg4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #555555;
}
h1 {
    padding: 10px;
    margin-bottom: 15;
}
h2 {
    margin-top: 30;
    font-size: 200%;
    text-align: center;
}
h4 {
    text-align: center;
    margin:-5;
}
iframe {
    float: right;
    margin-top: 30;
    margin-right: 30;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
h5 {
    text-align: center;
    margin-bottom: -20;
}


/*---------
- Classes -
---------*/
.header {
    text-align: center;
    font-size: 400%;
    padding-top: 20px;
    padding-bottom: 0px;
}
img.home {
    float: right;
    margin-top: -50;
    padding: 30px;
    width: 40%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
p.home {
    padding: 10px;
}
div.box_left_home {
    margin-top: 5;
    margin-left: 60;
    padding: 10px;
    width: 60%;
    background-color: rgb(233, 233, 233);
    float: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 30;
}
div.box_left {
    margin-top: 5;
    margin-left: 60;
    padding: 10px;
    width: 40%;
    background-color: rgb(233, 233, 233);
    float: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 30; 
}
div.box_right {
    margin-top: 5;
    margin-right: 60;
    padding: 10px;
    width: 40%;
    background-color: rgb(233, 233, 233);
    float: right;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 30;
}
ul.regular {
    text-align: left;
    display: block; 
    list-style-type: disc; 
    margin-top: -20; 
    margin-bottom: 1em; 
    margin-left: 0; 
    margin-right: 0; 
    padding-left: 40px;
    background-color: rgb(233, 233, 233);
    border: 0px;
}
li.regular {
    display: list-item;
    border: 0px;
}
img.profile {
    margin-right: 60;
    bottom: 100;
    width: 20%;
    float: right;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.exp_title {
    margin-top: -40;
    font-size: 150%;
}
.exp_company {
    margin-top: -20;
    text-align: center;
    color: rgb(122, 122, 122);
}
.footer {
    /* clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
    padding-top: 15px;
    background-color: #000000;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -55px;
    color: white; */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: white;
    background-color: #252525;
    text-align: center;
}


/*----------------
- Navigation Bar -
----------------*/
#nav_bar {
    margin: 0;    
    padding: 0;    
    overflow: hidden;
    text-align: center;
    list-style: none;
}
#nav_item {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    list-style: none;
    margin: 5;
    border-radius: 0px;
    padding: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}
li a, .dropbtn {
    color: grey;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;    
}
li a:hover, .dropdown:hover .dropbtn {
    color: black;
}
li.dropdown {
    display: inline-block;
    padding: 0px;
    
}
.dropdown-content {
    display: none; position: absolute;     
    background-color: #f9f9f9;
    margin-left: -5;
    margin-top: 5;
    min-width: 155px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    font-weight: 5;
    padding: 12px 16px;
    text-decoration: none;     
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.active {
    color: black;
}


/*-------
- Modal -
-------*/
.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;
}
.modal-window header {
    font-weight: bold;
}
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: #333333;
}
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: #000;
}
a {
    color: inherit;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn {
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 3px;
    text-decoration: none;
}
.btn i {
    padding-right: 0.3em;
}